@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/*mi menu*/
.contenedor-header{
    background:  rgb(30, 159, 171);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: rgb(185, 53, 165);
    text-decoration: none;
}
.contenedor-header header .logo span{
    color: var(--colorPrimario);
    font-family: 'Righteous';
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #000000;
}
.nav-responsive{
    background-color: #9dbed1;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* PRUBEA*/
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);
    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);
    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);
    --second-color: rgb(0, 201, 255);
    --third-color: rgb(231, 152, 219);
    --first-shadow-color: rgba(0, 0, 0, 0.1);
    --colorPrimario: #fff;
    --colorSecundario: #9dbed1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.featured-name{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}

.scroll-btn{
   position: absolute;
   bottom: 0;
   left: 50%;
   translate: -50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 50px;
   gap: 5px;
   text-decoration: none;
   color: var(--text-color-second);
   background: var(--color-white);
   border-radius: 30px;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i{
    font-size: 20px;
}
/*Portafolio*/
.project-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 60px; /* Add margin-top for spacing */
  }
  
  .project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;  /* Increase width to 45% (adjust as needed) */
    height: 350px; /* Increase height to 320px (adjust as needed) */
    margin-bottom: 30px; /* Add margin-bottom for spacing */
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
  }
  
  
  .project-box img {
    width: 20%; /* Reduce image width to 20% of the box width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Scale image to fit while preserving aspect ratio */
    margin-bottom: 15px; /* Adjust spacing as needed */
  }
  
  .project-box > i {
    font-size: 50px;
    color: #00B5E7;
    margin-bottom: 25px;
  }
  
  .project-box label {
    font-size: 15px;
    color: #777;
  }


.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}

footer{
    background-color: #ffffff;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #0f0f0f;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #9dbed1;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
img {
    object-fit: cover; /* Ajustar la imagen para cubrir todo el contenedor */
  }
  
/*Seccion */
::-webkit-scrollbar {
    width: 10px;
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }
  
  .contenedor-principal::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
   

  
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
/* ----- ABOUT INFO ----- */
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: rgba(29, 186, 210, 0.8);;
    border-radius: 20px;
}
.about-info p{
    text-align: center;
    font-size: 15px;
    color: #000000;
}
.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
    color:#000000;
}